/* /////////////////////// */
/* Control Loading */
/* /////////////////////// */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.control_loading {
  background-color: white;
  z-index: 1000001;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;

  &__wrapper {
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 30%;
      }
    }
  }

  &__title {
    h2 {
      text-align: center;
    }
  }

  &__desc {
    p {
      text-align: center;
    }
  }
}
